<launch>
	<!-- PARAMATERS -->
	<!-- Image paramaters -->
	<arg name="ImageWidth" default="2048" doc="Input image width"/>
	<arg name="ImageHeight" default="1536" doc="Input image height"/>

	<arg name="republishPC" default="true" doc="Wether or not to re-publish incoming pointcloud data"/>
	<arg name="downsamleSL" default="false" doc="Wether to downsample the SL pointcloud" />
	<arg name="SLPointsKeep" default="1" doc="Frequency of points to keep, if downsampled (i.e 1=keep all points)" />

  <arg name="liveTF" default="true" doc="Wether or not to publish tf data at clock time"/>

	<arg name="concatenateOutput" default="true" doc="Wether or not to publish the concatenated output" />


	<!-- Global namespaces and frames -->
	<arg name="leftNs" default="camera/left" doc="Left camera ROS namespace"/>
	<arg name="rightNs" default="camera/right" doc="Right camera ROS namespace"/>
	<arg name="stereoFrame" default="head_stereo/left_optical_frame" doc="Stereo camera frame"/>
	<arg name="SLFrame" default="/seikowave/optical_frame" doc="SL camera frame" />
	<arg name="SLWorldFrame" default="/seikowave/optical_frame" doc="SL work frame" />
	<arg name="extrinsicNS" default="SL_extrinsics" doc="Namespace for stereo-SL extrinsics"/>

	<!--Image topic names -->
	<arg name="cropImageIn" default="image_raw" doc="Topic for raw image streams"/>
	<arg name="cropInfoIn" default="camera_info" doc="Topic for raw camera info"/>
	<arg name="cropImageOut" default="camera_crop/image_crop" doc="Cropped image topic" />
	<arg name="cropInfoOut" default="camera_crop/camera_info" doc="Cropped info topic" />

	<!-- Cropped properties -->
	<arg name="cropDecimation" default="4" doc="Image crop decimation scale"/>

	<!-- Calibration files -->
	<arg name="seikowaveExtrinsics" default="$(find sensor_fusion)/cfg/extrinsics/stereo_Seikowave_extrinsics.yaml" />
	<!-- <arg name="seikowaveExtrinsics" default="$(find sensor_fusion)/cfg/extrinsics/nbl_calibration/3.yaml" /> -->
	<!-- Load ROS param calibration files -->
	<rosparam command="load" file="$(arg seikowaveExtrinsics)" ns="$(arg extrinsicNS)"/>


	<!-- START NODES -->

	<!-- Start crop decimation for the left image -->
	<group ns="$(arg leftNs)" >
		<node pkg="nodelet" type="nodelet" args="standalone image_proc/crop_decimate" name="crop_decimate">
				<param name="x_offset" type="int" value="0" />
				<param name="y_offset" type="int" value="0" />

				<param name="decimation_x" type="int" value="$(arg cropDecimation)" />
				<param name="decimation_y" type="int" value="$(arg cropDecimation)" />
				<param name="width" type="int" value="$(arg ImageWidth)" />
				<param name="height" type="int" value="$(arg ImageHeight)" />

				<remap from="camera/image_raw" to="$(arg cropImageIn)"/>
				<remap from="camera/image_info" to="$(arg cropInfoIn)"/>

				<remap from="camera_out/image_raw" to="$(arg cropImageOut)"/>
				<remap from="camera_out/image_info" to="$(arg cropInfoOut)"/>
		</node>
	</group>

  <!-- Start crop decimation for the right image -->
	<group ns="$(arg rightNs)" >
		<node pkg="nodelet" type="nodelet" args="standalone image_proc/crop_decimate" name="crop_decimate">
				<param name="x_offset" type="int" value="0" />
				<param name="y_offset" type="int" value="0" />

				<param name="decimation_x" type="int" value="$(arg cropDecimation)" />
				<param name="decimation_y" type="int" value="$(arg cropDecimation)" />
				<param name="width" type="int" value="$(arg ImageWidth)" />
				<param name="height" type="int" value="$(arg ImageHeight)" />

				<remap from="camera/image_raw" to="$(arg cropImageIn)"/>
				<remap from="camera/image_info" to="$(arg cropInfoIn)"/>

				<remap from="camera_out/image_raw" to="$(arg cropImageOut)"/>
				<remap from="camera_out/image_info" to="$(arg cropInfoOut)"/>
		</node>
	</group>

	<!-- Run disparity downsample node -->
	<group ns="camera">
		<!-- Run stereo image proc node -->
		<node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
			<remap from="left/image_raw" to="left/$(arg cropImageOut)" />
			<remap from="right/image_raw" to="right/$(arg cropImageOut)" />
			<remap from="left/camera_info" to="left/$(arg cropInfoOut)" />
			<remap from="right/camera_info" to="right/$(arg cropInfoOut)" />

			<!-- Tuned underwater calibration params-->
			<param name="approximate_sync" type="bool" value="true" />
			<param name="prefilter_size" type="int" value="107" />
			<param name="prefilter_cap" type="int" value="63" />
			<param name="correlation_window_size" type="int" value="13" />
			<param name="min_disparity" type="int" value="-1" />
			<param name="disparity_range" type="int" value="80" />
			<param name="uniqueness_ratio" type="double" value="10.0" />
			<param name="texture_threshold" type="int" value="696" />
			<param name="speckle_size" type="int" value="174" />
			<param name="speckle_range" type="int" value="31" />

			<!-- SGBM underwater calibration params-->
			<!-- <param name="approximate_sync" type="bool" value="true" />
			<param name="prefilter_size" type="int" value="107" />
			<param name="prefilter_cap" type="int" value="63" />
			<param name="correlation_window_size" type="int" value="17" />
			<param name="min_disparity" type="int" value="-1" />
			<param name="disparity_range" type="int" value="80" />
			<param name="uniqueness_ratio" type="double" value="4.0" />
			<param name="texture_threshold" type="int" value="8609" />
			<param name="speckle_size" type="int" value="174" />
			<param name="speckle_range" type="int" value="31" />
			<param name="P1" type="double" value="200" />
			<param name="P2" type="double" value="4000" />
			<param name="stereo_algorithm" type="int" value="1" /> -->
		</node>
	</group>

	<!-- Run pointcloud fusion-->
	<!-- Run pointcloud fusion-->
	<node name="pointcloud_fusion" pkg="sensor_fusion" type="pointcloud_fusion" output="screen" >
		<remap from="stereo/points2" to="/camera/points2" />
		<remap from="SL/points2" to="/seikowave_node/cloud" />
		<param name="stereo_frame" type="string" value="$(arg stereoFrame)" />
		<param name="SL_frame" type="string" value="$(arg SLFrame)" />
		<param name="SL_world_frame" type="string" value="$(arg SLWorldFrame)" />
		<param name="extrinsics_ns" type="string" value="$(arg extrinsicNS)" />
    <param name="republish_pointclouds" type="bool" value="$(arg republishPC)" />
    <param name="live_tf" type="bool" value="$(arg liveTF)" />
		<param name="downsamle_seikowave" type="bool" value="$(arg downsamleSL)" />
		<param name="pc_keep_num" type="int" value="$(arg SLPointsKeep)" />
		<param name="concatenate_output" type="bool" value="$(arg concatenateOutput)" />

	</node>

</launch>
